p {
  font-size: 1.6rem;
}
h1 {
  font-size: 6rem;
}
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: #838383; */
  color: white;
  min-height: 100vh;
}

.app:before {
  content: "";
  background: url("../../assets/sunset.jpg") no-repeat center center/cover;
  /* background: red; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.search input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  /* Allow input to resize flexibly */
  max-width: 400px; /* Limit the input width */
}

.search img {
  width: 40px; /* Adjust size of the icon */
  height: 40px;
  cursor: pointer;
  border-radius: 50%; /* Makes the image circular */
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
}

.search input:focus {
  border: 1px solid #9b8e53;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(98, 105, 106, 0.5);
}

::placeholder {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.desc {
  display: flex;
  gap: 0.5rem;
}

.desc img {
  width: 100px;
  height: 100px;
}

.desc p {
  margin-top: 1rem;
  font-size: 3rem;
}
.app .top {
  width: 100%;
  margin: 1rem auto;
}

/* bottom half */
.app .bottom {
  width: 100%;
  margin: 1rem auto;
  margin-bottom: 5rem;
  margin-right: 4rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
}
.bold {
  font-weight: 700;
}

.app .time {
  display: block;
  text-align: center;
  margin: 1rem;
}
