.search {
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.search input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  /* Allow input to resize flexibly */
  max-width: 400px; /* Limit the input width */
}

.search img {
  width: 40px; /* Adjust size of the icon */
  height: 40px;
  cursor: pointer;
  border-radius: 50%; /* Makes the image circular */
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
}

.search input:focus {
  border: 1px solid #9b8e53;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(98, 105, 106, 0.5);
}

::placeholder {
  color: white;
}
